<?php

define('CAS_HOST', 'login.middlebury.edu');
define('CAS_PORT', 443);
define('CAS_PATH', '/cas');

define('RESULT_CACHE_TTL', 6 * 60 * 60); // 6 Hours

// Configure authentication for this service.
// Most implementation will only need to define the ADMIN_ACCESS key.
// $admin_access_keys = array(
// 		'abc123',
// 	);

// If you set ALLOW_URL_TOKEN_AUTHENTICATION to true, then applications can pass
// the ADMIN_ACCESS key in the URL rather than in an HTTP header.
// define('ALLOW_URL_TOKEN_AUTHENTICATION', true);

// If you set ALLOW_CAS_AUTHENTICATION to true, then applications which are allowed
// to proxy by the CAS server will be able to authenticate on behalf of a user
// via proxy authentication.
//define('ALLOW_CAS_AUTHENTICATION', true);

// Define the attribute used for authorization checks
// and the values allow to access this service.
// define('CAS_MEMBER_OF_ATTRIBUTE', 'MemberOf');
// $cas_allowed_groups = array();

//Define the CAS service registry json file patch
$serviceRegistryPath = 'path/to/cas/json/files';

// File to write phpCAS debugging information
//define('PHPCAS_DEBUG_FILE', '/tmp/directory-phpcas.log');

$ldapConfig = array();

// Configure the first LDAP Server.
$ldapConfig[0] = array();
$ldapConfig[0]['LDAPHost']				= 'ad.middlebury.edu';
$ldapConfig[0]['LDAPPort']				= 389;
$ldapConfig[0]['BindDN']				= 'view_only_admin_user';
$ldapConfig[0]['BindDNPassword']		= 'password';
$ldapConfig[0]['BaseDN']				= 'DC=middlebury,DC=edu';
$ldapConfig[0]['UserBaseDN']			= 'DC=middlebury,DC=edu';
$ldapConfig[0]['GroupBaseDN']			= array(
											'OU=Groups,DC=middlebury,DC=edu',
											'OU=web data,DC=middlebury,DC=edu'
										);
$ldapConfig[0]['UserIdAttribute']		= 'MiddID';
$ldapConfig[0]['GroupIdAttribute']		= 'distinguishedName';
$ldapConfig[0]['UserAttributes'] 		= array(
											'givenName'						=> 'FirstName',
											'sn'							=> 'LastName',
											'extensionAttribute12'			=> 'Status',
											'mail'							=> 'EMail',
											'sAMAccountName' 				=> 'Login',
											'telephoneNumber'				=> 'TelephoneNumber',
											'memberOf'						=> 'MemberOf'
											);
$ldapConfig[0]['GroupAttributes']		= array(
											'mail'							=> 'EMail'
											);
$ldapConfig[0]['AnyTermSearchAttributes']	= array(
											'displayName'
											);
$ldapConfig[0]['SingleTermOnlySearchAttributes']	= array(
											'mail',
											'telephonNumber',
											'sAMAccountName'
											);

define('DISPLAY_ERROR_BACKTRACE', false);
define('SHOW_TIMERS', false);
define('SHOW_TIMERS_IN_OUTPUT', false);
