<?php

define('CAS_HOST', 'login.middlebury.edu');
define('CAS_PORT', 443);
define('CAS_PATH', '/cas');

define('PHPCAS_PATH', dirname(__FILE__).'/../phpcas/source/CAS.php');
define('RESULT_CACHE_TTL', 6 * 60 * 60); // 6 Hours

// define('ADMIN_ACCESS', 'sdfj239ug2jhg-01jLKJ');

$ldapConfig = array();

// Configure the first LDAP Server.
$ldapConfig[0] = array();
$ldapConfig[0]['LDAPHost']				= 'ad.middlebury.edu';
$ldapConfig[0]['LDAPPort']				= 389;
$ldapConfig[0]['BindDN']				= 'view_only_admin_user';
$ldapConfig[0]['BindDNPassword']		= 'password';
$ldapConfig[0]['BaseDN']				= 'DC=middlebury,DC=edu';
$ldapConfig[0]['UserBaseDN']			= 'CN=Users,DC=middlebury,DC=edu';
$ldapConfig[0]['GroupBaseDN']			= 'OU=Groups,DC=middlebury,DC=edu';
$ldapConfig[0]['UserIdAttribute']		= 'MiddID';
$ldapConfig[0]['GroupIdAttribute']		= 'distinguishedName';
$ldapConfig[0]['UserAttributes'] 		= array(
											'givenName'						=> 'FirstName',
											'sn'							=> 'LastName',
											'extensionAttribute12'			=> 'Status',
											'mail'							=> 'EMail',
											'sAMAccountName' 				=> 'Login',
											'telephoneNumber'				=> 'TelephoneNumber',
											'memberOf'						=> 'MemberOf'
											);
$ldapConfig[0]['GroupAttributes']		= array(
											'mail'							=> 'EMail'
											);
$ldapConfig[0]['AnyTermSearchAttributes']	= array(
											'displayName'
											);											
$ldapConfig[0]['SingleTermOnlySearchAttributes']	= array(
											'mail',
											'telephonNumber',
											'sAMAccountName'
											);

define('DISPLAY_ERROR_BACKTRACE', false);
define('SHOW_TIMERS', false);